@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

main {
    background: #3C3B3F;
    background: -webkit-linear-gradient(to bottom, #605C3C, #3C3B3F);
    background: linear-gradient(to bottom, #605C3C, #3C3B3F);

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    -webkit-box-shadow: -60px -60px 0px 0px rgba(60, 59, 63, 1);
    -moz-box-shadow: -60px -60px 0px 0px rgba(60, 59, 63, 1);
    box-shadow: -60px -60px 0px 0px rgba(60, 59, 63, 1);

    background: #605C3C;
    height: 360px;
    max-width: 480px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

h1 {
    text-shadow: 2px 2px 0px #3C3B3F;
    font-size: 32px;
    color: #fff;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

h2 {
    text-shadow: 2px 2px 0px #3C3B3F;
    color: #fff;
    margin-bottom: 20px;
    font-size: 44px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

a {
    background: #3C3B3F;
    background: -webkit-linear-gradient(to bottom, #605C3C, #3C3B3F);
    background: linear-gradient(to bottom, #605C3C, #3C3B3F);

    border-radius: 5px;
    color: #fff;
    padding: 8px;
    margin-right: 8px;
    cursor: pointer;
    border: 2px solid #fff;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.5s ease;
    text-decoration: none;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

a:hover {
    background: #fff;
    color: #3C3B3F;
    border: 2px solid #fff;
    transition: all 0.5s ease;
}

@media screen and (max-width: 610px) {
    section {
        -webkit-box-shadow: 0px -60px 0px 0px rgba(60,59,63,1);
        -moz-box-shadow: 0px -60px 0px 0px rgba(60,59,63,1);
        box-shadow: 0px -60px 0px 0px rgba(60,59,63,1);
    }
}

@media screen and (max-width: 480px) {
    section {
        box-shadow: none;
        height: 100%;
        max-width: 100%;
        background: #3C3B3F;
        background: -webkit-linear-gradient(to bottom, #605C3C, #3C3B3F);
        background: linear-gradient(to bottom, #605C3C, #3C3B3F);
    }
}