@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #3C3B3F;
    background: -webkit-linear-gradient(to left, #605C3C, #3C3B3F);
    background: linear-gradient(to left, #605C3C, #3C3B3F);
}

main {
    height: 100vh;
    margin: 0 auto;
    max-width: 90%;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 2px 2px 0px #3C3B3F;
    color: #fff;
    letter-spacing: 1px;
    font-size: 36px;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
    text-decoration-color: #605C3C;
}

section {
    display: flex;
    gap: 50px;
}

img {
    height: 580px;
    width: 360px;
    border-radius: 10px;
    margin: auto;
    object-fit: cover;
}

p {
    text-shadow: 2px 2px 0px #3C3B3F;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: 18px;
}

.about-wrapper {
    margin: auto;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    margin: auto;
}

.links .fa-brands {
    color: #fff;
    font-size: 28px;
    margin-left: 5px;
}

.projects-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    border: 0.5px solid #fff;
    border-radius: 4px;
    width: 95px;
    height: 40px;
    font-size: 22px;
    letter-spacing: 1.5px;
    transition: all 0.5s ease;

}

.projects-link:hover {
    background: #fff;
    color: #3C3B3F;
    transition: all 0.5s ease;
}

@media screen and (max-width: 1170px) {
    section {
        flex-wrap: wrap;
    }

    .links {
        margin-bottom: 50px;
    }
}
